{% load ervin %}
{% load typogrify %}
{% filter typogrify %}
<div>
  <p>{% include "edition_bib.html" %}</p>
  {% if edition.work.description or edition.work.parts.all %}
    <div class="description">
      {% if edition.parts.all %}
        <ul>
          {% for edition in edition.work.parts.all %}
            <li><a href="{{edition.work.get_absolute_url}}">{{edition.title}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{edition.work.description}}</p>
      {% endif %}
    </div>
  {% endif %} 
</div>
{% endfilter %}
