{% extends "plain.html" %}
{% load ervin %}
{% block title %}Online edition: {{ onlineedition.get_title }}{% endblock %}
{% block content %}
<abbr class="unapi-id" title="{{ onlineedition.pk }}"/>
<dl>
<dt>Title:</dt> <dd>{{ onlineedition.get_title }}</dd>

{% if onlineedition.authors %}
<dt>Authors:</dt> <dd>
  <ul>
  {% for person in onlineedition.authors.all %}
    <li>{{ person }}</li>
  {% endfor %}
  </ul>
</dd>
{% endif %}

{% if onlineedition.subjects %}
<dt>Subjects:</dt> <dd>
  <ul>
  {% for subject in onlineedition.subjects.all %}
    <li>{{ subject }}</li>
  {% endfor %}
  </ul>
</dd>
{% endif %}
</dl>

{{ data }}

{% if contents %}
<dt>
{% for name,versions in contents.items %}
<dt>{{ name }}</dt>
<dd>
{% for v in versions %}
{% ifequal v.mimetype 'application/pdf' %}
<p><a href="{{v.get_absolute_url}}">View PDF</a></p>
{% endifequal %}
{% endfor %}

</dd>
</dt>
{% endfor %}
{% endif %}
{% endblock %}
