{% extends "plain.html" %}
{% load ervin %}
{% block html_title %}Physical edition: {{ edition.title }}{% endblock %}
{% block content %}
<abbr class="unapi-id" title="{{ edition.noid }}"/>
<dl>
<dt>Title:</dt> <dd>{{ edition.title }}</dd>

{% if edition.authors %}
<dt>Authors:</dt> <dd>
  <ul>
  {% for person in edition.authors.all %}
    <li>{{ person }}</li>
  {% endfor %}
  </ul>
</dd>
{% endif %}

{% if edition.subjects %}
<dt>Subjects:</dt> <dd>
  <ul>
  {% for subject in edition.subjects.all %}
    <li>{{ subject }}</li>
  {% endfor %}
  </ul>
</dd>
{% endif %}
</dl>

{% endblock %}
