{% load ervin %}
{% if person %}
  {{ work.authors.all|inverted_name_first_list_linked:person.noid|with_final_period }}
{% else %}
  {{ work.authors.all|inverted_name_first_list_linked|with_final_period }}
{% endif %}
<a href="{{work.get_absolute_url}}"><em>{{work.title}}</em></a>.
{% if work.publisher %}
  {{ work.publisher }}
{% endif %}
{% ifequal work.form "image" %}[Image]{% endifequal %}

