{% extends "plain.html" %}
{% load ervin %}
{% block html_title %}{{work.title}}{% endblock %}
{% block content %}

<div about="{{work.get_absolute_url}}" >
  <dl>
    <dt>Work title</dt><dd property="dc:Title">{{ work.title }}</dd>
    <dt>Work authors</dt>
    <dd>
      <ul>
        {% for author in work.authors.all %}
        <li xmlns="dc:Author">{{ author | inverted_name }}</li>
        {% endfor %}
      </ul>
    </dd>
  </dl>
  <p>Multiple expressions</p>
  <ul>
    {% for expression in work.expression_set.all %}
    <li><a href="{{expression.get_absolute_url}}">{{ expression}}</a></li>
    {% endfor %}
  </ul>
  {% endblock %}
</div>
