{% load ervintags %}
{# variables #}
{#  edition #}
{#  edition_nolink : true if we should not link the edition #}

{{ edition.creators.all|inverted_name_first_etal_list_linked|with_terminal:"." }}
{% if edition_nolink %}
  <cite>{{ edition.title }}</cite>.
{% else %}
  <a href="{{ edition.work.get_absolute_url }}"><cite>{{ edition.title }}</cite>.</a>{% endif %}{% ifequal edition.work.form "image" %}&nbsp;<i class="fa fa-image fa-fw"></i>{% endifequal %}
