{% load ervin %}

<div>
  <p>{% include "ervin/includes/edition_bib.html" %}</p>
  {% if edition.work.description %}
  <div class="description">
    <p>{{edition.work.description}}</p>
  </div>
  {% endif %} 
</div>
