{% extends "ervin/base.html" %}

{% load ervintags %}

{% block content %}
<div class="grid_16">
  <h2 id="page-heading">{% block title %}{% endblock %}</h2>
</div>

<div class="grid_4">
  <div class="box">
    <h2>Navigate</h2>
    <div class="block">
      <h6>Group 1</h6>
      <ul>
        <li><a href="/works">Works</a></li>
        <li><a href="/expressions">Expressions</a></li>
        <!-- <li><a href="/editions">Editions</a></li>
        <li><a href="/items">Items</a></li> -->
      </ul>
      <h6>Group 2</h6>
      <ul>
        <li><a href="/organizations">Organizations (Corporate bodies)</a></li>
        <li><a href="/persons">Persons</a></li>
      </ul>
      <h6>Group 3</h6>
      <ul>
        <li><a href="/concepts">Concepts</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/objects">Objects</a></li>
        <li><a href="/places">Places</a></li>
      </ul>
    </div>
  </div>
</div>

{% block main_content %}
{% endblock main_content %}

{% endblock content %}
