<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:frbr="http://purl.org/vocab/frbr/core#"
      xmlns:frbre="http://purl.org/vocab/frbr/extended#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#" >
  <head>
    <title>{% block html_title %}Ervin{% endblock %}</title>
    <link rel="unapi-server" type="application/xml"
          title="unAPI" href="/unapi" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/grid.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="../../../css/grid.css" media="screen" />
  </head>
  <body>
    <div class="container_16">
      <div class="grid_16">
        <h1 id="branding">
          <a href="/">Welcome to Ervin</a>
        </h1>
      </div>
      <div class="clear"></div>
      {% block content_header %}{% endblock %}
      {% block content %}{% endblock %}
      {% block content_footer %}{% endblock %}
    </div>
</body>
</html>
