{% extends "ervin/base_navigate.html" %}
{% load ervintags %}
{% block html_title %}{{ entity.title }}{% endblock %}
{% block title %}{{ entity.title }}{% endblock %}

{% block main_content %}
<div class="grid_8">
  <div class="box">
    <div class="block">
      <div about="{{entity.get_absolute_url}}" >
        <dl>
          <dt>Title</dt>
          <dd property="dc:title">{{ entity.title }}</dd>
          <dt>Creators</dt>
          <dd>
            <ul>
              {% for creator in entity.creators.all %}
              <li xmlns="dc:creator">{{ creator|inverted_name }}</li>
              {% endfor %}
            </ul>
          </dd>
        </dl>
      </div>
      {% block rest %}{% endblock %}
    </div>
  </div>
</div>

<div class="grid_4">
  <div class="box">
    <h2>Subjects</h2>
    <div class="block">
      {% if entity.subjects.all %}
      <ul>
        {% for subject in entity.subjects.all %}
        <li>{{ subject }}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>None.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock main_content %}
