{% extends "ervin/base_navigate.html" %}

{% load ervintags %}

{% block html_title %}Subjects{% endblock %}

{% block title %}Subjects{% endblock %}

{% block main_content %}
<div class="grid_12">
  <div class="box">
    <div class="block">
      {% if page.object_list %}
      <ul>
        {% for subject in page.object_list %}
        <li><a href="{{ subject.get_absolute_url }}">{{ subject }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      {% block empty_list %}<p>No subjects.</p>{% endblock %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock main_content %}
