{% extends "ervin/base.html" %}
{% load ervintags %}
{% block html_title %}{{person}}{% endblock %}
{% block content %}

<div class="grid_16">
  <h2 id="page-heading">It worked!</h2>
</div>

<div class="grid_16">
  <p>Welcome to your new installation of Ervin - the CMS for
  perfectionists with metadata!</p>
</div>

<div class="clear"></div>

<div class="grid_4">
  <div class="box">
    <h2>Group 1</h2>
    <div class="block">
      <ul>
        <li><a href="/works">Works</a></li>
        <li><a href="/expressions">Expressions</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid_4">
  <div class="box">
    <h2>Group 2</h2>
    <div class="block">
      <ul>
        <li><a href="/organizations">Organization</a></li>
        <li><a href="/persons">Persons</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid_4">
  <div class="box">
    <h2>Group 3</h2>
    <div class="block">
      <ul>
        <li><a href="/concepts">Concepts</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/objects">Objects</a></li>
        <li><a href="/places">Places</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
